@font-face{
    font-family: ThurstnHand;
    src: url("../assets/fonts/ThurstnHand.otf");
}

:root{
    --accent: #800020;
    --acchighlight: peru;
    --bg: #ffffff;
    --txt: #1d121c;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

a, a:visited{
    text-decoration: none;
}

#top{
    width: 100vw;
    height: 50vh;
    top: 0;
    background-color: brown;
    text-align: center;
}
#logo{
    font-size: 60px;
    font-weight: 900;
    margin-top: 150px;
    display:inline-block;
    color: var(--bg);
}
#subtext{
    font-size: 25px;
    display: block;
    color: var(--bg);
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    background-size: 150px;
}

.main-header{
    display: block;
    background-color: var(--bg);
    color: var(--txt);
    height: fit-content;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;
    overflow: hidden;
}


#navbar{
    background-color: var(--accent);
    font-size: 0; /*removes empty space between centered nav items*/
    text-align: center;
    width: 100%;
}
#navbar #minilogo{
    float: left;
    font-size: 30px;
    color: var(--bg);
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-right: 1px solid var(--acchighlight);
}
#navbar a{
    background-color: var(--accent);
    color: var(--bg);
    padding: 5px 20px;
    display: inline-block;
    font-size: 30px;
    box-shadow: inset 0 0 0 0 var(--acchighlight);
    transition: box-shadow .2s ease-in-out;
}
#navbar a:hover{
    box-shadow: inset 0 50px 0 0 var(--acchighlight);
}
#navbar #nav-top{
    float: right;
    padding: 5px 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-left: 1px solid var(--acchighlight);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}


section{
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    /*-webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;*/
}
.section-header{
    font-size: 40px;
    font-weight: bold;
    color: var(--accent);
}

#home{
    width: 80%;
    margin: 0 auto;
}
.accordion{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.accordion-segment{
    float: left;
    flex: 1;
    transition: all .5s ease-in-out;
    margin: 1px;
    border: 2px solid var(--bg);
    cursor: pointer;
}
.accordion-segment:hover{
    flex: 10;
}
#accordion-1{
    background-image: url("https://picsum.photos/1280/720");
}
#accordion-2{
    background-image: url("https://picsum.photos/1280/720");
}
#accordion-3{
    background-image: url("https://picsum.photos/1280/720");
}
#accordion-4{
    background-image: url("https://picsum.photos/1280/720");
}
#accordion-5{
    background-image: url("https://picsum.photos/1280/720");
}

section article{
    width: 98%;
    margin: 10px auto;
}

#projects h1{
    background-color: var(--accent);
    color: var(--bg);
    padding: 0 10px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 3px 0px #000000; 
    box-shadow: 0px 0px 3px 0px #000000;
}
#project-font div{
    display: flex;
}
#project-font img{
    height: 250px;
    background-size: cover;
    border: 5px solid var(--bg);
    margin-left: 10px;
}

#projects #mini-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
}
#projects #mini-gallery img{
    height: 300px;
    background-size: cover;
    margin: 5px 10px;
    border: 5px solid var(--bg);
}
#game-link{
    color: var(--bg);
    padding: 0 40px;
    background-color: teal;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: fit-content;
    font-size: 35px;
}
#game-link:hover{
    background-color: var(--acchighlight);
}

p .smaller{
    font-size: 15px;
    line-height: 20px;
}


#about{
    background-color: var(--accent);
    color: var(--bg);
}
#about header{
    color: var(--bg);
}



/* MOBILE LAYOUT */
@media screen and (max-width: 600px)
{
    #navbar a{
        font-size: 30px;
        padding: 0 5px;
    }
    #navbar #minilogo{
        display: none;
    }
    #navbar #nav-top{
        display: none;
    }
    
    *{
        font-size: 25px;
    }
}