@font-face{
    font-family: ThurstnHand;
    src: url("./assets/fonts/ThurstnHand.otf");
}

:root{
    --accent: #800020;
    --acchighlight: peru;
    --bg: #ffffff;
    --txt: #1d121c;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: ThurstnHand; /*'Ubuntu', sans-serif;*/
    font-size: 30px;
}

a, a:visited{
    text-decoration: none;
}

#top{
    width: 100vw;
    height: 50vh;
    top: 0;
    background-color: brown;
    text-align: center;
}
#logo{
    font-size: 70px;
    font-weight: 900;
    margin-top: 150px;
    display:inline-block;
    color: var(--bg);
}
#subtext{
    font-size: 30px;
    display: block;
    color: var(--bg);
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    background-color: var(--bg);
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    background-size: 150px;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.main-header{
    display: block;
    background-color: var(--bg);
    color: var(--txt);
    height: fit-content;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;
    overflow: hidden;
}


nav{
    background-color: var(--accent);
    font-size: 0; /*removes empty space between centered nav items*/
    text-align: center;
    font-weight: bold;
}
nav #minilogo{
    float: left;
    font-size: 35px;
    color: var(--bg);
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
nav a{
    background-color: var(--accent);
    color: var(--bg);
    padding: 5px 20px;
    display: inline-block;
    font-size: 35px;
    box-shadow: inset 0 0 0 0 var(--acchighlight);
    transition: box-shadow .2s ease-in-out;
}
nav a:hover{
    /*background-color: var(--acchighlight) brown;*/
    box-shadow: inset 0 50px 0 0 var(--acchighlight);
}
nav #nav-top{
    float: right;
    padding: 5px;
    margin-right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

#content-wrapper{
    width: 80vw;
    margin: 0 auto;
}

.section-header{
    font-size: 40px;
    font-weight: bold;
    color: var(--accent);
}

section article{
    width: 98%;
    margin: 10px auto;
}

#projects h1{
    background-color: var(--accent);
    color: var(--bg);
    padding: 0 10px;
    border: 2px solid var(--accent);
    border-radius: 10px;
    width: fit-content;
    -webkit-box-shadow: 0px 0px 3px 0px #000000; 
    box-shadow: 0px 0px 3px 0px #000000;
}